/*General*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}


/*General*/

/*Utility*/

.container{
  width: 70%;
  margin-left: 15%;
  margin-right: 15% ;
  
}
.debug{}
.container .flex{}

/*Utility*/

/*  all heights are for demo purpose all heights are for demo purpose */

/*Header*/

header{
  background-color: #3161e0 ;
}

header .page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .logo, .access{
  width: 80px;
  background-color: white;
  height: 40px;
}
header .menu{
  background-color: white;
  width: 600px;
}
/*Header*/

/*  all heights are for demo purpose all heights are for demo purpose */

/*Main*/
.jumbotron{
  text-align: center;
  background-color: aqua;
  height: 530px;
  padding-top: 50px;
}

.box-container{
  background-color: aliceblue;
  width: 40%;
  margin: 0 30%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.jumbotron h1{
  font-size: 40px;
  margin: 120px 0 50px;
  text-align: center;
  background-color:tomato;
}
.jumbotron p{
  text-align: center;
  padding-top: 50px;
  background-color: yellow;
}
.jumbotron .button{
  margin: 10px 10px;
  display: inline-block;
  background-color: crimson;
  height:50px ;
  width: 200px;
}

 .row{
  background-color:beige;
  height: 800px;
 }

.row .container .box{
  display: flex;
  justify-content: space-between;
  align-content: center;
  
}
.row .container .box .content{
  width: 400px;
  height: 500px;
}

 .row .container .box .img{
  width: 600px;
  height: 400px;
  background-color: aquamarine; 
}