/*General*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}


/*General*/

/*Utility*/

.container{
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.debug{}
.container .flex{}

/*Utility*/

/*  all heights are for demo purpose all heights are for demo purpose */

/*Header*/

header{
  background-color: #3161e0 ;
}

header .page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .logo, .access{
  width: 80px;
  background-color: white;
  height: 40px;
}
header .menu{
  background-color: white;
  width: 600px;
}
/*Header*/

/*  all heights are for demo purpose all heights are for demo purpose */

/*Main*/
.jumbotron{
  text-align: center;
  background-color: aqua;
  height: 530px;
  padding-top: 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

.jumbo-container{
  background-color: aliceblue;
  max-width: 800px;
}

.jumbotron h1{
  font-size: 40px;
  margin: 120px 0 50px;
  text-align: center;
  background-color:tomato;
}
.jumbotron p{
  text-align: center;
  padding-top: 50px;
  background-color: yellow;
}
.jumbotron .button{
  margin: 10px 10px;
  display: inline-block;
  background-color: crimson;
  height:50px ;
  width: 200px;
}

 .row{
  background-color:beige;
  height: 800px;
  text-align: center;
 }

.row .container .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}
.row .container .box .content{
  width: 600px;
  height: 400px;
}

 .row .container .box .img{
  width: 600px;
  height: 400px;
  background-color: aquamarine; 
}


.row.banner , .second{
  background-color: gray;
}

.row .container .box-diff .img{
  width: 100%;
  height: 500px;
  background-color: aquamarine;
}
.banner .container .box-diff{
  display: flex;
  flex-wrap: wrap;
}

.info{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.banner .button{
  height: 50px;
  margin: 50px;
  background-color: blue;
  width: 40%;
}

footer{
  background-color: #151719;
}

footer section{
  display: flex;
  color: white;
  justify-content: space-between; 
  padding: 100px 0;
}

footer .col{
  background-color: goldenrod;
  height: 200px;
  width: 100px;
}

footer .col.social{
  background-color: goldenrod;
  height: 200px;
  width: calc(100% / 3);
}

footer section.bottom{
  display: flex;
  justify-content: space-between;
}